html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#disponible{
  background:green;
  border-radius:50%;
  width:30px;
  height:30px;
  border:2px solid #679403;
   
}
#occupe{
  background:red;
  border-radius:50%;
  width:30px;
  height:30px;
  border:2px solid orange;
   
}


.listeVehicule{
  text-align: center;
}

.logo-picture {
  width: 2%;
}


.table{
  text-align: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
